@import url(//db.onlinewebfonts.com/c/d4280feab480528a5c1b9c7b210e97bd?family=VAG+Rounded);
@font-face {
  font-family: "VagRounded";
  src: url("//db.onlinewebfonts.com/t/d4280feab480528a5c1b9c7b210e97bd.eot");
  src: url("//db.onlinewebfonts.com/t/d4280feab480528a5c1b9c7b210e97bd.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/d4280feab480528a5c1b9c7b210e97bd.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/d4280feab480528a5c1b9c7b210e97bd.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/d4280feab480528a5c1b9c7b210e97bd.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/d4280feab480528a5c1b9c7b210e97bd.svg#VAG Rounded")
      format("svg");
}

@import url(//db.onlinewebfonts.com/c/54a7fd684402df9d4a2d488e07729247?family=VAG+Rounded);
@font-face {
  font-family: "VAGRoundedLT";
  src: url("//db.onlinewebfonts.com/t/54a7fd684402df9d4a2d488e07729247.eot");
  src: url("//db.onlinewebfonts.com/t/54a7fd684402df9d4a2d488e07729247.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/54a7fd684402df9d4a2d488e07729247.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/54a7fd684402df9d4a2d488e07729247.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/54a7fd684402df9d4a2d488e07729247.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/54a7fd684402df9d4a2d488e07729247.svg#VAG Rounded")
      format("svg");
}

@import url(//db.onlinewebfonts.com/c/62c312b81b9d45f73effa3e5ea9bd94e?family=VAG+Rundschrift);
@font-face {
  font-family: "VAGRundschriftD-Lig";
  src: url("//db.onlinewebfonts.com/t/62c312b81b9d45f73effa3e5ea9bd94e.eot");
  src: url("//db.onlinewebfonts.com/t/62c312b81b9d45f73effa3e5ea9bd94e.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/62c312b81b9d45f73effa3e5ea9bd94e.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/62c312b81b9d45f73effa3e5ea9bd94e.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/62c312b81b9d45f73effa3e5ea9bd94e.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/62c312b81b9d45f73effa3e5ea9bd94e.svg#VAG Rundschrift")
      format("svg");
}

@import url(//db.onlinewebfonts.com/c/233a51221d78e377727ac0f4e7c72539?family=VAGRounded-Light);
@font-face {
  font-family: "VAGRounded-Light";
  src: url("//db.onlinewebfonts.com/t/233a51221d78e377727ac0f4e7c72539.eot");
  src: url("//db.onlinewebfonts.com/t/233a51221d78e377727ac0f4e7c72539.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/233a51221d78e377727ac0f4e7c72539.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/233a51221d78e377727ac0f4e7c72539.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/233a51221d78e377727ac0f4e7c72539.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/233a51221d78e377727ac0f4e7c72539.svg#VAGRounded-Light")
      format("svg");
}
